$bg-color: #f0f4f8;

@media (prefers-color-scheme: dark) {
  $bg-color: #0f172a;
}

div.main-wrapper {
    min-height: 100vh;
    background: $bg-color;
    
    @media (prefers-color-scheme: dark) {
        background: #0f172a;
    }

    > header.main-header {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    > div.main-body {
        > main {
            min-height: calc(100vh - 72px);
        }

        > section.float-contact {
            position: fixed;
            bottom: 0.5em;
            right: 1.5em;
            z-index: 90;

            @media (max-width: 648px) {
                right: 0.75em;
            }
        }
    }
}
